body{
	width: 100%;
	height: 100%;
	text-align: center;
}
.game_board{
  width: 400px;
  height: 390px;
  margin: 2em auto;
  padding: 10px;
  border: 2px black solid;
  border-radius: 36px;
  line-height: 0;
}
.box{
  width: 105px;
  height: 102px;
  margin: 10px;
  display: inline-block;
  overflow: hidden;
}
.mini_box{
  width: 30px;
  height: 30px;
  margin: 2px;
  display: inline-block;
  overflow: hidden;
}
.mini_box:hover{
  border: 1px solid black;
  margin: 1;
}
.yellow{
  background-color: yellow;
  transition: background-color 1s ease;
}
.blue{
  background-color: blue;
  transition: background-color 1s ease;
}
.red{
  background-color: red;
  transition: background-color 1s ease;
}